 .final {
     display: flex;
     margin-left: 250px;
     margin-right: 250px;
     display: flex;
     flex-direction: column;
     text-align: center;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     p {
         margin-top: 20px;
     }
 }